@model FilmApp.Models.Entity.Actor
@{
    ViewData["Title"] = "AddActor";
}

<div>
    <h5 class="Top-Title">Add Actor</h5>
    <form asp-action="AddActor" asp-controller="Movie">
        <div class="form-group">
            <input type="text" asp-for="ActorFirstName" class="form-control" placeholder="First Name">
            <span asp-validation-for="ActorFirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="text" asp-for="ActorLastName" class="form-control" placeholder="Last Name">
            <span asp-validation-for="ActorLastName" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-info custom-button">Save</button>
    </form>

</div>